/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-bottom: 140px;*/
    z-index: 1000;
}

.modal-contents {
    position: relative;
    background: linear-gradient(135deg, #ffffff, #f0f4f8);
    padding: 25px;
    border-radius: 12px;
    width: 400px;
    height: 200px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.progress-bar-containers {
    width: 100%;
    height: 8px;
    background-color: #ecf0f1;
    border-radius: 0; /* Bo góc 0 để sát mép */
    position: absolute;
    bottom: 0; /* Đặt sát mép dưới */
    left: 0;
    margin-top: 0; /* Loại bỏ khoảng cách trên */
}

.progress-bars {
    height: 100%;
    background: #45caa5;
    border-radius: 0; /* Bo góc 0 để sát mép */
    width: 100%;
    animation: shrink 5s linear forwards;
    border: none; /* Loại bỏ viền để sát mép hoàn toàn */
}

@keyframes shrink {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.modal-contents h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #2c3e50;
    z-index: 1;
}

.modal-contents p {
    color: #7f8c8d;
    margin-bottom: 20px;
    font-size: 16px;
    z-index: 1;
}

.modal-contents p:last-child {
    font-size: 14px;
    color: #bdc3c7;
}

/* Class để ẩn thanh cuộn */
.no-scroll {
    overflow: hidden;
    height: 100%;
}